body {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 20px;
  font:
    14px 'Helvetica Neue',
    Helvetica,
    Arial,
    sans-serif;
  background-image: url('/client/public/linda-xu-arvoZ9puXv4-unsplash.jpg');
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  overflow: auto;
  color: white;
}

button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  border-radius: 8px;
  padding: 13px 23px;
  border: 1px solid #222222;
  transition:
    box-shadow 0.2s ease 0s,
    -ms-transform 0.1s ease 0s,
    -webkit-transform 0.1s ease 0s,
    transform 0.1s ease 0s;
  background: #fff;
  color: #222222;
  :hover {
    border-color: #000000;
    background: #f7f7f7;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Space between form elements */
  max-width: 300px; /* Optional: adjust as needed */
  margin: auto; /* Center the form horizontally */
}

.form label {
  margin-bottom: 5px; /* Space between label and input */
}

.form input {
  padding: 8px;
  font-size: 14px;
}

.form button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

h2 {
  text-align: center;
}
